body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: fantasy;
}

p{
    font-size: 18px;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    background-color: yellow;
    padding: 10px;
    position: sticky;
    width: 1490px;
    max-width: 100%;
    top: 0;
    z-index: 1;
    align-items: center;
    overflow-x: hidden;
    min-height: 80px;
}

.banner img {
    width: 100%;
}


nav ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.main-nav li:hover {
    transform: scale(1.15);
}

.main-nav li a {
    text-decoration: none;
    margin-right: 10px;
    font-weight: 1px;
    color: #EE4B2B;
    font-size: 25px;
    display: block;
    transition: transform 0.3s;
}

.home a[href="index.html"] {
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-size: 50px;
}

.home a[href="index.html"]:hover {
    color: #EE4B2B;
}

main {
    max-width: 100%;
    width: 1200px;
    margin: 10px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

article h1 {
    font-size: 50px;
    color: #EE4B2B;
    margin-top: 30px;
    margin-bottom: -30px;
}

.video-and-images {
    display: flex;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.video {
    flex: 1;
    margin: 20px;
    margin-right: 10px;
    margin-left: -40px;
    max-width: calc(100%-40px);
    box-sizing: border-box;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex: 1;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    justify-items: center;
}

.image-grid img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
    transition: transform 0.3s;
}

.image-grid img:hover {
    transform: scale(1.15);
}

article h2 {
    color: black;
    font-weight: 1;
    font-size: 30px;
    text-align: center;
    margin: 50px;
}

.about article {
    display: flex;
    margin: 0 auto;
    padding: 2px;
    align-items: center;
    justify-content: center;
}

article {
    margin-top: 0;
    unicode-bidi: isolate;
}

.about img {
    padding: 0 2px;
    width: 50%;
}

.about div, .about img {
    max-width: 700px;
    flex: 1 1 50%;
}

img {
    display: block;
}

div {
    display: block;
    unicode-bidi: isolate;
    margin: 40px;
}

.about h3 {
    font-family: fantasy;
    font-size: 30px;
    font-weight: 1;
    color: #EE4B2B;
}

.about p {
    font-family: arial;
    letter-spacing: 1px;
    font-weight: 1;
    font-size: 20px;
}

footer {
    font-family: Arial;
    font-size: 10px;
    text-align: center;
}

@media screen and (max-width: 1400px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        width: 100%; 
        box-sizing: border-box;
    }

    nav ul {
        justify-content: center;
        width: 100%;
        flex-direction: column;
        padding: 0;
    }

    nav ul li {
        margin: 5px 0;
    }
}


@media screen and (max-width: 960px) {
    header {
        width: 100%;
        align-items: center;
        padding: 10px 0;
    }

    main {
        width: 95%;
        padding: 0 20px;
    }

    .video-and-images {
        flex-direction: column;
    }

    .video, .image-grid {
        flex: 1 1 100%;
    }

    .image-grid {
        max-width: 400px;
        margin-top: 20px;
    }

    .image-grid img {
        width: 100%;
    }

    .about article {
        max-width: 100%;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }
}

@media screen and (max-width: 700px) {
    header {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    .image-grid {
        max-width: 300px;
        margin-top: 20px;
    }

    .image-grid img {
       width: 100%; 
    }
}

@media screen and (max-width: 560px) {
    header {
        position: relative;
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    .video {
        max-width: 100%;
    }

    .image-grid {
        max-width: 250px;
        margin-top: 20px;
    }

    .image-grid img {
        width: 100%;
    }
}
